<%- include('./base/header.ejs') %>
<div class="container">
    <div class="alert bg-success my-3">
        <h4 class="text-center" style="color: whitesmoke;"> STUDENT HAS BEEN ADDED SUCCESFULLY ..</h4>
    </div>
</div>
<%- include('./base/footer.ejs') %>
